<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgv.fakturama.dao.mapper.FktProductoptionsMapper">
  <resultMap id="BaseResultMap" type="com.sgv.fakturama.dao.mapper.model.FktProductoptions">
    <id column="ID" jdbcType="BIGINT" property="ID" />
    <result column="ATTRIBUTEVALUE" jdbcType="VARCHAR" property="ATTRIBUTEVALUE" />
    <result column="DATEADDED" jdbcType="DATE" property="DATEADDED" />
    <result column="DELETED" jdbcType="BIT" property="DELETED" />
    <result column="MODIFIED" jdbcType="DATE" property="MODIFIED" />
    <result column="MODIFIEDBY" jdbcType="VARCHAR" property="MODIFIEDBY" />
    <result column="NAME" jdbcType="VARCHAR" property="NAME" />
    <result column="SEQUENCENUMBER" jdbcType="INTEGER" property="SEQUENCENUMBER" />
    <result column="VALIDFROM" jdbcType="DATE" property="VALIDFROM" />
    <result column="VALIDTO" jdbcType="DATE" property="VALIDTO" />
    <result column="FK_PRODUCT" jdbcType="BIGINT" property="FK_PRODUCT" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ATTRIBUTEVALUE, DATEADDED, DELETED, MODIFIED, MODIFIEDBY, NAME, SEQUENCENUMBER, 
    VALIDFROM, VALIDTO, FK_PRODUCT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from fkt_productoptions
    where ID = #{ID,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fkt_productoptions
    where ID = #{ID,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sgv.fakturama.dao.mapper.model.FktProductoptions">
    insert into fkt_productoptions (ID, ATTRIBUTEVALUE, DATEADDED, 
      DELETED, MODIFIED, MODIFIEDBY, 
      NAME, SEQUENCENUMBER, VALIDFROM, 
      VALIDTO, FK_PRODUCT)
    values (#{ID,jdbcType=BIGINT}, #{ATTRIBUTEVALUE,jdbcType=VARCHAR}, #{DATEADDED,jdbcType=DATE}, 
      #{DELETED,jdbcType=BIT}, #{MODIFIED,jdbcType=DATE}, #{MODIFIEDBY,jdbcType=VARCHAR}, 
      #{NAME,jdbcType=VARCHAR}, #{SEQUENCENUMBER,jdbcType=INTEGER}, #{VALIDFROM,jdbcType=DATE}, 
      #{VALIDTO,jdbcType=DATE}, #{FK_PRODUCT,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sgv.fakturama.dao.mapper.model.FktProductoptions">
    insert into fkt_productoptions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="ATTRIBUTEVALUE != null">
        ATTRIBUTEVALUE,
      </if>
      <if test="DATEADDED != null">
        DATEADDED,
      </if>
      <if test="DELETED != null">
        DELETED,
      </if>
      <if test="MODIFIED != null">
        MODIFIED,
      </if>
      <if test="MODIFIEDBY != null">
        MODIFIEDBY,
      </if>
      <if test="NAME != null">
        NAME,
      </if>
      <if test="SEQUENCENUMBER != null">
        SEQUENCENUMBER,
      </if>
      <if test="VALIDFROM != null">
        VALIDFROM,
      </if>
      <if test="VALIDTO != null">
        VALIDTO,
      </if>
      <if test="FK_PRODUCT != null">
        FK_PRODUCT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=BIGINT},
      </if>
      <if test="ATTRIBUTEVALUE != null">
        #{ATTRIBUTEVALUE,jdbcType=VARCHAR},
      </if>
      <if test="DATEADDED != null">
        #{DATEADDED,jdbcType=DATE},
      </if>
      <if test="DELETED != null">
        #{DELETED,jdbcType=BIT},
      </if>
      <if test="MODIFIED != null">
        #{MODIFIED,jdbcType=DATE},
      </if>
      <if test="MODIFIEDBY != null">
        #{MODIFIEDBY,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null">
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="SEQUENCENUMBER != null">
        #{SEQUENCENUMBER,jdbcType=INTEGER},
      </if>
      <if test="VALIDFROM != null">
        #{VALIDFROM,jdbcType=DATE},
      </if>
      <if test="VALIDTO != null">
        #{VALIDTO,jdbcType=DATE},
      </if>
      <if test="FK_PRODUCT != null">
        #{FK_PRODUCT,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sgv.fakturama.dao.mapper.model.FktProductoptions">
    update fkt_productoptions
    <set>
      <if test="ATTRIBUTEVALUE != null">
        ATTRIBUTEVALUE = #{ATTRIBUTEVALUE,jdbcType=VARCHAR},
      </if>
      <if test="DATEADDED != null">
        DATEADDED = #{DATEADDED,jdbcType=DATE},
      </if>
      <if test="DELETED != null">
        DELETED = #{DELETED,jdbcType=BIT},
      </if>
      <if test="MODIFIED != null">
        MODIFIED = #{MODIFIED,jdbcType=DATE},
      </if>
      <if test="MODIFIEDBY != null">
        MODIFIEDBY = #{MODIFIEDBY,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null">
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="SEQUENCENUMBER != null">
        SEQUENCENUMBER = #{SEQUENCENUMBER,jdbcType=INTEGER},
      </if>
      <if test="VALIDFROM != null">
        VALIDFROM = #{VALIDFROM,jdbcType=DATE},
      </if>
      <if test="VALIDTO != null">
        VALIDTO = #{VALIDTO,jdbcType=DATE},
      </if>
      <if test="FK_PRODUCT != null">
        FK_PRODUCT = #{FK_PRODUCT,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{ID,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sgv.fakturama.dao.mapper.model.FktProductoptions">
    update fkt_productoptions
    set ATTRIBUTEVALUE = #{ATTRIBUTEVALUE,jdbcType=VARCHAR},
      DATEADDED = #{DATEADDED,jdbcType=DATE},
      DELETED = #{DELETED,jdbcType=BIT},
      MODIFIED = #{MODIFIED,jdbcType=DATE},
      MODIFIEDBY = #{MODIFIEDBY,jdbcType=VARCHAR},
      NAME = #{NAME,jdbcType=VARCHAR},
      SEQUENCENUMBER = #{SEQUENCENUMBER,jdbcType=INTEGER},
      VALIDFROM = #{VALIDFROM,jdbcType=DATE},
      VALIDTO = #{VALIDTO,jdbcType=DATE},
      FK_PRODUCT = #{FK_PRODUCT,jdbcType=BIGINT}
    where ID = #{ID,jdbcType=BIGINT}
  </update>
</mapper>