<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgv.fakturama.dao.mapper.FktVoucheritemsMapper">
  <resultMap id="BaseResultMap" type="com.sgv.fakturama.dao.mapper.model.FktVoucheritems">
    <id column="ID" jdbcType="BIGINT" property="ID" />
    <result column="DATEADDED" jdbcType="DATE" property="DATEADDED" />
    <result column="DELETED" jdbcType="BIT" property="DELETED" />
    <result column="ITEMVOUCHERTYPE" jdbcType="VARCHAR" property="ITEMVOUCHERTYPE" />
    <result column="MODIFIED" jdbcType="DATE" property="MODIFIED" />
    <result column="MODIFIEDBY" jdbcType="VARCHAR" property="MODIFIEDBY" />
    <result column="NAME" jdbcType="VARCHAR" property="NAME" />
    <result column="POSNR" jdbcType="INTEGER" property="POSNR" />
    <result column="PRICE" jdbcType="DOUBLE" property="PRICE" />
    <result column="VALIDFROM" jdbcType="DATE" property="VALIDFROM" />
    <result column="VALIDTO" jdbcType="DATE" property="VALIDTO" />
    <result column="VOUCHERITEM_ACCOUNTTYPE" jdbcType="BIGINT" property="VOUCHERITEM_ACCOUNTTYPE" />
    <result column="FK_VAT" jdbcType="BIGINT" property="FK_VAT" />
    <result column="FK_VOUCHER" jdbcType="BIGINT" property="FK_VOUCHER" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DATEADDED, DELETED, ITEMVOUCHERTYPE, MODIFIED, MODIFIEDBY, NAME, POSNR, PRICE, 
    VALIDFROM, VALIDTO, VOUCHERITEM_ACCOUNTTYPE, FK_VAT, FK_VOUCHER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from fkt_voucheritems
    where ID = #{ID,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fkt_voucheritems
    where ID = #{ID,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sgv.fakturama.dao.mapper.model.FktVoucheritems">
    insert into fkt_voucheritems (ID, DATEADDED, DELETED, 
      ITEMVOUCHERTYPE, MODIFIED, MODIFIEDBY, 
      NAME, POSNR, PRICE, 
      VALIDFROM, VALIDTO, VOUCHERITEM_ACCOUNTTYPE, 
      FK_VAT, FK_VOUCHER)
    values (#{ID,jdbcType=BIGINT}, #{DATEADDED,jdbcType=DATE}, #{DELETED,jdbcType=BIT}, 
      #{ITEMVOUCHERTYPE,jdbcType=VARCHAR}, #{MODIFIED,jdbcType=DATE}, #{MODIFIEDBY,jdbcType=VARCHAR}, 
      #{NAME,jdbcType=VARCHAR}, #{POSNR,jdbcType=INTEGER}, #{PRICE,jdbcType=DOUBLE}, 
      #{VALIDFROM,jdbcType=DATE}, #{VALIDTO,jdbcType=DATE}, #{VOUCHERITEM_ACCOUNTTYPE,jdbcType=BIGINT}, 
      #{FK_VAT,jdbcType=BIGINT}, #{FK_VOUCHER,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sgv.fakturama.dao.mapper.model.FktVoucheritems">
    insert into fkt_voucheritems
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="DATEADDED != null">
        DATEADDED,
      </if>
      <if test="DELETED != null">
        DELETED,
      </if>
      <if test="ITEMVOUCHERTYPE != null">
        ITEMVOUCHERTYPE,
      </if>
      <if test="MODIFIED != null">
        MODIFIED,
      </if>
      <if test="MODIFIEDBY != null">
        MODIFIEDBY,
      </if>
      <if test="NAME != null">
        NAME,
      </if>
      <if test="POSNR != null">
        POSNR,
      </if>
      <if test="PRICE != null">
        PRICE,
      </if>
      <if test="VALIDFROM != null">
        VALIDFROM,
      </if>
      <if test="VALIDTO != null">
        VALIDTO,
      </if>
      <if test="VOUCHERITEM_ACCOUNTTYPE != null">
        VOUCHERITEM_ACCOUNTTYPE,
      </if>
      <if test="FK_VAT != null">
        FK_VAT,
      </if>
      <if test="FK_VOUCHER != null">
        FK_VOUCHER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=BIGINT},
      </if>
      <if test="DATEADDED != null">
        #{DATEADDED,jdbcType=DATE},
      </if>
      <if test="DELETED != null">
        #{DELETED,jdbcType=BIT},
      </if>
      <if test="ITEMVOUCHERTYPE != null">
        #{ITEMVOUCHERTYPE,jdbcType=VARCHAR},
      </if>
      <if test="MODIFIED != null">
        #{MODIFIED,jdbcType=DATE},
      </if>
      <if test="MODIFIEDBY != null">
        #{MODIFIEDBY,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null">
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="POSNR != null">
        #{POSNR,jdbcType=INTEGER},
      </if>
      <if test="PRICE != null">
        #{PRICE,jdbcType=DOUBLE},
      </if>
      <if test="VALIDFROM != null">
        #{VALIDFROM,jdbcType=DATE},
      </if>
      <if test="VALIDTO != null">
        #{VALIDTO,jdbcType=DATE},
      </if>
      <if test="VOUCHERITEM_ACCOUNTTYPE != null">
        #{VOUCHERITEM_ACCOUNTTYPE,jdbcType=BIGINT},
      </if>
      <if test="FK_VAT != null">
        #{FK_VAT,jdbcType=BIGINT},
      </if>
      <if test="FK_VOUCHER != null">
        #{FK_VOUCHER,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sgv.fakturama.dao.mapper.model.FktVoucheritems">
    update fkt_voucheritems
    <set>
      <if test="DATEADDED != null">
        DATEADDED = #{DATEADDED,jdbcType=DATE},
      </if>
      <if test="DELETED != null">
        DELETED = #{DELETED,jdbcType=BIT},
      </if>
      <if test="ITEMVOUCHERTYPE != null">
        ITEMVOUCHERTYPE = #{ITEMVOUCHERTYPE,jdbcType=VARCHAR},
      </if>
      <if test="MODIFIED != null">
        MODIFIED = #{MODIFIED,jdbcType=DATE},
      </if>
      <if test="MODIFIEDBY != null">
        MODIFIEDBY = #{MODIFIEDBY,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null">
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="POSNR != null">
        POSNR = #{POSNR,jdbcType=INTEGER},
      </if>
      <if test="PRICE != null">
        PRICE = #{PRICE,jdbcType=DOUBLE},
      </if>
      <if test="VALIDFROM != null">
        VALIDFROM = #{VALIDFROM,jdbcType=DATE},
      </if>
      <if test="VALIDTO != null">
        VALIDTO = #{VALIDTO,jdbcType=DATE},
      </if>
      <if test="VOUCHERITEM_ACCOUNTTYPE != null">
        VOUCHERITEM_ACCOUNTTYPE = #{VOUCHERITEM_ACCOUNTTYPE,jdbcType=BIGINT},
      </if>
      <if test="FK_VAT != null">
        FK_VAT = #{FK_VAT,jdbcType=BIGINT},
      </if>
      <if test="FK_VOUCHER != null">
        FK_VOUCHER = #{FK_VOUCHER,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{ID,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sgv.fakturama.dao.mapper.model.FktVoucheritems">
    update fkt_voucheritems
    set DATEADDED = #{DATEADDED,jdbcType=DATE},
      DELETED = #{DELETED,jdbcType=BIT},
      ITEMVOUCHERTYPE = #{ITEMVOUCHERTYPE,jdbcType=VARCHAR},
      MODIFIED = #{MODIFIED,jdbcType=DATE},
      MODIFIEDBY = #{MODIFIEDBY,jdbcType=VARCHAR},
      NAME = #{NAME,jdbcType=VARCHAR},
      POSNR = #{POSNR,jdbcType=INTEGER},
      PRICE = #{PRICE,jdbcType=DOUBLE},
      VALIDFROM = #{VALIDFROM,jdbcType=DATE},
      VALIDTO = #{VALIDTO,jdbcType=DATE},
      VOUCHERITEM_ACCOUNTTYPE = #{VOUCHERITEM_ACCOUNTTYPE,jdbcType=BIGINT},
      FK_VAT = #{FK_VAT,jdbcType=BIGINT},
      FK_VOUCHER = #{FK_VOUCHER,jdbcType=BIGINT}
    where ID = #{ID,jdbcType=BIGINT}
  </update>
</mapper>