@import models.sgv.Contacto

@(contacto: Contacto)
<tr>
    <td><a class="btn btn-link" href="@routes.ContactoController.ver(contacto.id)">@contacto.alias</a></td>
    <td>@contacto.tipoPersona.descripcion</td>
    <td>@contacto.numeroDocumento</td>
    <td>
    @if(contacto.tipoPersona.id.codigo.equals("01")) {
        @(contacto.apellidoPaterno+" "+contacto.apellidoMaterno+", "+contacto.nombres)
    } else {
        @contacto.razonSocial
    }
    </td>
    <td>@contacto.email</td>
    <td>@contacto.telefonoFijo</td>
    <td>@contacto.telefonoMovil</td>
    <td>@contacto.webSite</td>
</tr>