@import models.sgv.Contacto

@(contacto: Contacto)
        <div class="row">
            <div class="col-md-6">
                <b>Tipo de Contacto : </b>@contacto.tipoContacto.valor
            </div>
            <div class="col-md-6">
                <b>Codigo : </b>@contacto.codigo
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <b>Tipo de Persona : </b>@contacto.tipoPersona.id.codigo
                </p>
                <p>
                    @if(contacto.tipoPersona.id.codigo.equals("01")) {
                        <b>DNI : </b>
                    } else {
                        <b>RUC : </b>
                    }
                    @contacto.numeroDocumento
                </p>
                <p>
                    <b>Alias : </b>@contacto.alias
                </p>
                @if(contacto.tipoPersona.id.codigo.equals("01")) {
                    <b>Nombre : </b>@(contacto.apellidoPaterno+" "+contacto.apellidoMaterno+", "+contacto.nombres)
                } else {
                    <b>Razon Social : </b>@contacto.razonSocial
                }

            </div>
            <div class="col-md-6">
                <p>
                    @if(contacto.tipoPersona.id.codigo.equals("01")) {
                        <b>Fecha de Nacimiento : </b>
                    } else {
                        <b>Fecha de Creación : </b>
                    }
                    @contacto.fechaCreacion.format("dd-MM-yyyy")
                </p>
                <p>

                <p>
                    <b>Correo Electronico : </b>@contacto.email
                </p>
                <p>
                    <b>Telefono Fijo : </b>@contacto.telefonoFijo
                </p>
                <p>
                    <b>Telefono Movil : </b>@contacto.telefonoMovil
                </p>
                <p>
                    <b>Pagina Web : </b>@contacto.webSite
                </p>
                <p>
                    <b>Comentario : </b>@contacto.comentario
                </p>

            </div>
        </div>
