@import models.sgv.Contacto

@(contacto: Contacto)
<p>Tipo Persona         : @contacto.tipoPersona.codigo</p>
<p>numeroDocumento		: @contacto.numeroDocumento</p>
<p>alias				: @contacto.alias</p>
<p>nombres				: @contacto.nombres</p>
<p>apellidoPaterno		: @contacto.apellidoPaterno</p>
<p>apellidoMaterno		: @contacto.apellidoMaterno</p>
<p>razonSocial			: @contacto.razonSocial</p>
<p>email				: @contacto.email</p>
<p>telefonoFijo 		: @contacto.telefonoFijo</p>
<p>telefonoMovil 		: @contacto.telefonoMovil</p>

<p>webSite				: @contacto.webSite</p>
<p>direccion			: @contacto.comentario</p>

