@import controllers.dto.ContactoDTO
@(form: Form[ContactoDTO])

@import helper._
@import views.html.partials._contactoFormsFields

@layout("Maestro de Contacto") {
    <h3>MAESTRO DE CONTACTO</h3>


}
@layout("Maestro de Contacto") {
    <h1>MAESTRO DE CONTACTO</h1>
    @helper.form(action = routes.DocumentoController.guardar()){

        @_contactoFormsFields(form)

        <button class="btn btn-success" type="submit">
                <!--i class="glyphicon glyphicon-plus"></i-->
            <i class="glyphicon glyphicon-floppy-save"></i>
            Crear
        </button>
    }
}