@import controllers.dto.ContabilidadDTO
@import models.CargaDatos
@(contabilidadDTOForm: Form[ContabilidadDTO])


@import helper._

@layout("Generar Libro Contable"){
    <h3>GENERAR LIBRO CONTABLE</h3>
    @helper.form(action = routes.DocumentoController.generarLibro()){
            <!-- http://librosweb.es/libro/bootstrap_3/capitulo_2/anidando_columnas.html -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        @select(
                                contabilidadDTOForm("razonSocial.codigo"),
                                options = CargaDatos.cargarRazonesSocialesSeq.map(dto => dto.codigo -> dto.descripcion),
                                '_label -> "Razon Social",
                                '_error -> contabilidadDTOForm("razonSocial.codigo").error.map(_.withMessage("Seleccionar Razon Social")))
                        @select(
                            contabilidadDTOForm("tipoLibro.codigo"),
                            options = CargaDatos.cargarTipoLibroSeq.map(dto => dto.codigo -> dto.descripcion),
                            '_label -> "Tipo de Libro",
                            '_error -> contabilidadDTOForm("tipoLibro.codigo").error.map(_.withMessage("Seleccionar tipo de Libro")))
                    </div>

                    <div class="col-md-6">
                        @select(
                            contabilidadDTOForm("anio.codigo"),
                            options = CargaDatos.cargarAniosSeq.map(dto => dto.codigo -> dto.descripcion),
                            '_label -> "Anio",
                            '_error -> contabilidadDTOForm("anio.codigo").error.map(_.withMessage("Seleccionar Año")))
                        @select(
                            contabilidadDTOForm("mes.codigo"),
                            options = CargaDatos.cargarMesesSeq.map(dto => dto.codigo -> dto.descripcion),
                            '_label -> "Mes",
                            '_error -> contabilidadDTOForm("mes.codigo").error.map(_.withMessage("Seleccionar Mes")))
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success" type="submit">
                            <i class="glyphicon glyphicon-signal"></i>
                            Generar Libro
                        </button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    }
}