@import controllers.dto.DocumentoDTO
@import models.CargaDatos
@(documentoDTOForm: Form[DocumentoDTO])


@import helper._

@layout("Imprimir documento"){
    <h3>IMPRIMIR DOCUMENTO</h3>
    @helper.form(action = routes.DocumentoController.imprimirTicket()){
<!-- http://librosweb.es/libro/bootstrap_3/capitulo_2/anidando_columnas.html -->
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        @helper.inputText(documentoDTOForm("tipoDocumento"),'class ->"form-control", '_label -> "Tipo",'readonly -> "readonly" )
                        @helper.inputText(documentoDTOForm("numero"),'class ->"form-control", '_label -> "Número",'autocomplete -> "off", 'placeholder -> "Ingrese el número de documento ...")
                    </div>

                    <div class="col-md-6">
                        @inputRadioGroup(
                            documentoDTOForm("resumido"),
                            options = CargaDatos.cargarTipoImpresionTicketSeq.map(dto => dto.codigo -> dto.descripcion),
                            '_label -> "Tipo de Impresion",
                            '_error -> documentoDTOForm("resumido").error.map(_.withMessage("Seleccionar tipo")))

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success" type="submit">
                            <i class="glyphicon glyphicon-print"></i>
                            Imprimir Documento
                        </button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
        @helper.inputText(documentoDTOForm("nombreEmpresa"),'class ->"form-control", '_label -> null, 'style -> "display: none",'readonly -> "readonly")
        @helper.inputText(documentoDTOForm("rucEmpresa"),'class ->"form-control",'_label -> null, 'style -> "display: none",'readonly -> "readonly")
    }
}