@import models.sgv.Contacto
@import controllers.dto.ContactoDTO
@import repository.sgv.ParametroService
@import  commons.Constantes

@(contactoDTOForm: Form[ContactoDTO], contactos : List[Contacto])

@import views.html.partials._contactoFormsFieldsViewList
@import helper._

@layout("Todos los contactos"){

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    </div>

    <div class="row">
        <div class="col-md-12">
                <!-- https://www.w3schools.com/bootstrap/bootstrap_panels.asp -->
            <div class="panel panel-primary">

    @helper.form(action = routes.ContactoController.buscar(contactoDTOForm.get().tipoContacto),'id -> "contactoBuscarForm"){

                    <input type="hidden" id="tipoContacto" name="tipoContacto" value='@contactoDTOForm.get().tipoContacto' />
                    <input type="hidden" id="urlDestino" name="urlDestino" value='@routes.ContactoController.buscar(contactoDTOForm.get().tipoContacto)' />

                <div class="panel-heading">
                    <h3>
                    @if(contactoDTOForm.get().tipoContacto.equals(Constantes.PARAMETRO_CODIGO_TIPO_CONTACTO_CLIENTE)) {
                        <b>BUSQUEDA DE CLIENTE : </b>
                    } else {
                        <b>BUSQUEDA DE PROVEEDOR : </b>
                    }
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-4">
                            @helper.inputText(contactoDTOForm("codigo"),
                                '_label -> "Codigo",
                                'class ->"form-control",
                                'placeholder -> "Ingresar Código",
                                'maxlength->"10")
                        </div>
                        <div class="col-md-4">
                            @helper.inputText(contactoDTOForm("numero"),
                                '_label -> "DNI / RUC",
                                'class ->"form-control",
                                'placeholder -> "Ingresar DNI / RUC",
                                '_error -> contactoDTOForm("numero").error.map(_.withMessage("Ingresar DNI /RUC")))
                        </div>
                        <div class="col-md-4">
                            @select(
                                contactoDTOForm("tipoPersona"),
                                options = ParametroService.cargarTipoPersonaSeq.map(dto => dto.id.codigo -> dto.valor),
                                'class ->"form-control",
                                '_label -> "Tipo de Persona",
                                '_error -> contactoDTOForm("tipoPersona").error.map(_.withMessage("Seleccionar Tipo de Persona")))
                        </div>
                    </div>

                </div>


                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4" align="center">
                            <button id="btn_contacto_buscar" class="btn btn-primary" type="submit">
                                    <!--i class="glyphicon glyphicon-plus"></i-->
                                <i class="glyphicon glyphicon-search"></i>
                                Buscar
                            </button>
                            <a class="btn btn-success" href="@routes.ContactoController.crear(contactoDTOForm.get().tipoContacto)">
                                <i class="glyphicon glyphicon-plus"></i>
                                Crear
                            </a>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <hr/>
                    </div>
                </div>
                <div class="panel-body">




    <table class="table table-bordered table-striped" id="dashboard-table">
        <thead>
            <tr>
                <th>*</th>
                <th>Persona</th>
                <th>DNI / RUC</th>
                <th>Nombre / Razon Social</th>
                <th>Correo E.</th>
                <th>Telefono Fijo</th>
                <th>Telefono Movil</th>
                <th>Pag. Web</th>
            </tr>
        </thead>
        <tbody>
        @for(contacto <- contactos) {
            @_contactoFormsFieldsViewList(contacto)
        }
        </tbody>
    </table>

    }

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4" align="center">

                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<script src="@routes.Assets.versioned("js/maestro.contacto.js")" type="text/javascript"></script>